<template>
    <div class="flex flex-col justify-center items-center w-screen h-screen">
        <h1 class="text-4xl">404</h1>
        <p class="text-xl mb-4">Chúng tôi không tìm thấy trang bạn yêu cầu :(</p>
        <router-link class="sys-text-primary" to="/">Về trang chủ</router-link>
    </div>
</template>
