<template>
  <div class="pt-8">
    <div class="flex justify-between items-center p-4">
      <div class="text-3xl font-bold">Giao Dịch</div>
      <router-link class="flex justify-center items-center w-8 h-8 sys-text-1 py-2"
        to="/user/post/add">
        <i class="fas fa-plus"></i>
      </router-link>
    </div>
    <div class="px-4">
      <user-transactions/>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import UserTransactions from '@/components/user/transaction/UserTransactions.vue'

@Component({
  components: {
    UserTransactions,
  },
})

export default class Manage extends Vue {
}

</script>
