<template>
  <div class="main">
      <post-nav/>
      <main>
          <slot/>
      </main>
  </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import PostNav from '@/components/core/navs/PostNav.vue'

@Component({
  components: {
    PostNav,
  },
})

export default class Default extends Vue {
}
</script>
