<template>
  <div class="">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="state-2" type="radio" name="item-state">
            <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="1"
              @click="changeState">
              Đang Hoạt Động
            </label>
            <input class="hidden" id="state-4" type="radio" name="item-state">
            <label for="state-4" class="z-20 cursor-pointer px-4 py-2" data-state="2"
              @click="changeState">
              Bị Khoá
            </label>
            <input class="hidden" id="state-all" type="radio" name="item-state">
            <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="-1"
              @click="changeState">
              Tất Cả
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="users.length > 0">
          <div v-for="user in users" :key="user.id"
            class="cursor-pointer hover:bg-blue-500 hover:text-white
              transition duration-300 ease-linear px-2 py-4"
            @click="loadUser(user.id)">
            <div class="font-bold mb-4">{{ user.firstName }} {{ user.lastName }}</div>
          </div>
        </div>
        <div v-else class="text-sm">Không có người dùng nào.</div>
      </div>

      <div class="w-full lg:w-2/3 sys-bg-5 p-8">
        <div v-if="Object.keys(user).length > 0">
          <div class="text-2xl font-bold mb-4">
            {{ user.firstName }} {{ user.lastName }}
          </div>
          <div class="text-sm">
            Username: {{ user.userName }}
          </div>
          <div class="text-sm mb-4">
            Quyền hạn: {{ user.level === 0 ? 'Người dùng' : 'Quản trị viên' }}
          </div>
          <button v-if="user.state === 1 && user.level !== 1"
            class="inline-block w-auto bg-red-500 text-white font-bold rounded-lg
            text-sm px-4 py-2"
            @click="lock">
            Khoá
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import AccountsAPI from '@/api/account'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminUsers extends Vue {
  private currentState = 1

  private users = []

  private user: any = {}

  created() {
    AccountsAPI.filter(this.currentState, 0, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data
        this.users = response.data
        this.user = firstItem
      })
      .catch((error: any) => {
        this.users = []
        this.user = {}
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="1"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="1"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    AccountsAPI.filter(this.currentState, 0, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data
        console.log(response.data)
        this.users = response.data
        this.user = firstItem
      })
      .catch((error: any) => {
        this.users = []
      })
  }

  public loadUser(userId: string): void {
    AccountsAPI.getInfo(userId, this.$store.state.userInfo.token)
      .then((response: any) => {
        console.log(response.data)
        this.user = response.data
      })
      .catch((error: any) => {
        this.user = {}
      })
  }

  public reloadItem(): void {
    AccountsAPI.filter(this.currentState, 0, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        this.users = response.data
        this.user = {}
      })
      .catch(() => {
        this.users = []
      })
  }

  public lock(): void {
    AccountsAPI.update(this.user.id, this.user.firstItem, this.user.lastName, this.user.userName,
      this.user.hash, this.user.token, this.user.level, 2)
      .then(() => {
        console.log('ok')
      })
  }
}
</script>
