<template>
  <div class="p-8">
    <div class="mb-8">
      <div v-show="type === 0" class="text-3xl font-bold transition-all duration-500 ease-in">
        Tạo Tin Trao Tặng
      </div>
      <div v-show="type === 1" class="text-3xl font-bold transition-all duration-500 ease-in">
        Tạo Tin Tìm Đồ
      </div>
    </div>

    <div class="mb-8">
      <form @submit.prevent="add">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="type-0" type="radio" name="item-type">
            <label for="type-0" class="z-20 cursor-pointer px-4 py-2" data-type="0"
              @click="changeType">
              Tin Trao Tặng
            </label>
            <input class="hidden" id="type-1" type="radio" name="item-type">
            <label for="type-1" class="z-20 cursor-pointer px-4 py-2" data-type="1"
              @click="changeType">
              Tin Tìm Đồ
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="type === 0" class="mb-8">
          <div class="text-xl font-bold mb-4">Danh Sách Đồ Vật</div>
          <div class="cursor-pointer sys-bg-5 sys-text-1 font-bold text-3xl p-8 mb-4"
              @click="openAddModal">Thêm</div>
          <div v-if="isItemAddModalShow" class="mb-8">
            <item-add-modal @add-item="onAddItem"/>
          </div>
          <div v-if="items.length > 0">
            <div class="grid grid-cols-3 gap-4 mb-8">
              <div class="sys-bg-5 sys-text-1 p-4" v-for="i in items" :key="i.id">
                <div class="font-bold text-xl">{{ i.name }}</div>
                <div>{{ i.quantity }} {{ i.unit }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-xl font-bold mb-4">Thể Loại</div>
        <select class="block w-full px-4 py-3 sys-bg-5 sys-text-1 placeholder-black mb-8"
          v-model="category">
            <option v-for="c in categories" :key="c.id" :value="c.id">{{ c.name }}</option>
        </select>
        <input class="block w-full px-4 py-3 sys-bg-5 sys-text-1 placeholder-black mb-8" type="text"
          placeholder="Tiêu đề"
          v-model="title">
        <textarea class="block w-full px-4 py-3 sys-bg-5 placeholder-black mb-8"
            name="" id="" cols="30" rows="10" placeholder="Nội dung" v-model="content"></textarea>
        <div class="text-xl font-bold mb-4">Tỉnh Thành</div>
        <select class="block w-full px-4 py-3 sys-bg-5 sys-text-1 placeholder-black mb-8"
          v-model="province">
            <option v-for="p in provinces" :key="p.id" :value="p.id">{{ p.name }}</option>
        </select>
        <input class="block w-full px-4 py-3 sys-bg-5 sys-text-1 placeholder-black mb-8" type="text"
          placeholder="Địa điểm"
          v-model="location">

        <button class="bg-red-500 text-white font-bold px-3 py-2" type="submit">Thêm</button>
      </form>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import PostCategoriesAPI from '@/api/postCategory'
import ProvincesAPI from '@/api/province'
import PostsAPI from '@/api/post'
import ItemsAPI from '@/api/item'
import ItemAddModal from '@/components/user/post/ItemAddModal.vue'

@Component({
  components: {
    ItemAddModal,
  },
})

export default class Add extends Vue {
  private type = 0

  private isItemAddModalShow = false

  private categories: Array<any> = []

  private category = ''

  private provinces: Array<any> = []

  private province = ''

  private itemIds: Array<string> = []

  private items: Array<any> = []

  private title = ''

  private content = ''

  private location = ''

  created() {
    PostCategoriesAPI.filter()
      .then((response: any) => {
        this.categories = response.data
      })
      .catch((error: any) => {
        this.categories = []
        console.log(error)
      })

    ProvincesAPI.filter('')
      .then((response: any) => {
        this.provinces = response.data
      })
      .catch((error: any) => {
        this.provinces = []
        console.log(error)
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-type="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeType(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-type="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.type = parseInt(event.target.dataset.type, 10)
  }

  public add() {
    PostsAPI.add(
      this.$store.state.userInfo.userId,
      this.category,
      this.province,
      this.type,
      this.title,
      this.content,
      this.location,
      this.itemIds,
      this.$store.state.userInfo.token,
    )
      .then(() => {
        this.$router.push({
          name: 'user-posts',
        })
      })
      .catch((error) => {
        console.log(error)
      })
  }

  public openAddModal() {
    if (this.itemIds.length === 0) {
      if (!this.isItemAddModalShow) {
        this.isItemAddModalShow = true
      }
    }
  }

  public onAddItem(id: string) {
    if (this.itemIds.findIndex((i) => i === id) === -1) {
      this.itemIds.push(id)
      ItemsAPI.getItem(id, 0, this.$store.state.userInfo.token)
        .then((response) => {
          this.items.push(response.data)
          this.isItemAddModalShow = false
        })
        .catch((error) => {
          console.log(error)
        })
      console.log(this.items)
    } else {
      console.log('đã có')
    }
  }
}

</script>
