<template>
  <div class="sys-text-1">
    <div class="font-bold text-3xl text-center mb-8">Đăng Nhập</div>
    <form class="" @submit.prevent="authenticate()">
      <input class="block w-full sys-bg-4 sys-text-1 px-4 py-2 mb-4" type="text"
        placeholder="Tài khoản" v-model="username" />
      <input class="block w-full sys-bg-4 sys-text-1 px-4 py-2 mb-4" type="password"
        placeholder="Mật khẩu" v-model="password" />
      <button class="w-full flex justify-center items-center sys-bg-primary text-white font-bold
        p-2 rounded-lg mb-8"
        type="submit">
        Bắt Đầu
      </button>
      <p class="text-center bg-transparent">
        Chưa có tài khoản?
        <span class="cursor-pointer underline sys-text-primary"
          @click="goToRegister">
          Đăng kí</span> ngay.
      </p>
    </form>
    <alert-modal v-show="isShowAlert" :text="alertText" @ok="onModalOk"/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import AlertModal from '@/components/core/shared/AlertModal.vue'
import AccountsAPI from '@/api/account'

@Component({
  components: {
    AlertModal,
  },
})

export default class UserLogin extends Vue {
  private username = ''

  private password = ''

  private isShowAlert = false

  private alertText = ''

  public authenticate(): void {
    if ((this.username === '' || this.password === '')
      || ((this.username === '' && this.password === ''))) {
      this.alertText = 'Không được để trống 1 trong 2 trường nhập!'
      this.isShowAlert = true
      return
    }

    AccountsAPI.authenticate(this.username, this.password)
      .then((response) => {
        // Commit to store and save to localStorage
        this.$store.commit('userInfo/changeUserId', response.data.id)
        localStorage.setItem('userId', response.data.id)
        this.$store.commit('userInfo/changeUserName', `${response.data.firstName} ${response.data.lastName}`)
        localStorage.setItem('userName', `${response.data.firstName} ${response.data.lastName}`)
        this.$store.commit('userInfo/changeLevel', response.data.level)
        localStorage.setItem('userLevel', response.data.level)
        this.$store.commit('userInfo/changeToken', response.data.token)
        localStorage.setItem('userToken', response.data.token)

        if (response.data.level === 1) {
          this.$router.push({
            name: 'admin-dashboard',
          })
        } else {
          this.$router.push({
            name: 'user-dashboard',
          })
        }
      })
      .catch((error) => {
        this.alertText = 'Thông tin đăng nhập sai!'
        this.isShowAlert = true
      })
  }

  public goToRegister(): void {
    this.$store.commit('changeRegisterNow', true)
  }

  public onModalOk(): void {
    this.isShowAlert = false
  }
}

</script>
