<template>
  <div class="sys-text-1">
    <div class="font-bold text-3xl text-center mb-8">Đăng Kí</div>
    <form class="" @submit.prevent="register()">
      <input class="block w-full sys-bg-4 sys-text-1 px-4 py-2 mb-4" type="text"
      placeholder="Tài khoản" v-model="username" />
      <input class="block w-full sys-bg-4 sys-text-1 px-4 py-2 mb-4" type="password"
      placeholder="Mật khẩu" v-model="password" />
      <input class="block w-full sys-bg-4 sys-text-1 px-4 py-2 mb-4" type="password"
      placeholder="Nhập lại mật khẩu" v-model="rePassword" />
      <button class="w-full sys-bg-primary text-white font-bold p-2 rounded-lg mb-8"
        type="submit">
          Xác Nhận
      </button>
      <p class="text-center">
        Đã có tài khoản?
      <span class="cursor-pointer underline text-blue-500" @click="goToLogin">
        Đăng nhập</span> ngay.
      </p>
    </form>
    <alert-modal v-show="isShowAlert" :text="alertText" @ok="onModalOk"/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import AlertModal from '@/components/core/shared/AlertModal.vue'
import AccountsAPI from '@/api/account'

@Component({
  components: {
    AlertModal,
  },
})

export default class UserLogin extends Vue {
  private isShowAlert = false

  private alertText = ''

  private username = ''

  private password = ''

  private rePassword = ''

  public register(): void {
    if ((this.username === '' || this.password === '' || this.rePassword === '')
      || (this.username === '' && this.password === '' && this.rePassword === '')) {
      this.alertText = 'Không được để trống trường nhập!'
      this.isShowAlert = true
      return
    }

    if (this.password !== this.rePassword) {
      this.alertText = 'Mật khẩu không trùng khớp!'
      this.isShowAlert = true
      return
    }

    AccountsAPI.register(this.username, this.password)
      .then((response) => {
        this.alertText = 'Đăng kí thành công! Bạn sẽ được chuyển đến trang đăng nhập.'
        this.isShowAlert = true
      })
      .catch((error) => {
        this.alertText = 'Có lỗi xảy ra!'
        this.isShowAlert = true
      })
  }

  public goToLogin(): void {
    this.$store.commit('changeRegisterNow', false)
  }

  public onModalOk(): void {
    this.isShowAlert = false
    this.goToLogin()
  }
}

</script>
