<template>
  <div class="main">
      <Posts/>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import Posts from '@/components/post/Posts.vue'

@Component({
  components: {
    Posts,
  },
})

export default class Browse extends Vue {
}
</script>
