<template>
    <div>
        <p>xxx</p>
    </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component({
  components: {
  },
})

export default class Create extends Vue {

}
</script>
