<template>
  <div class="container mx-auto pt-8">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-2/3 p-4 lg:p-0">
        <div class="font-bold text-2xl mb-4">{{ post.title }}</div>
        <div class="mb-4">
          <div class="mb-2">
            <i class="fas fa-map-marker mr-2"></i>
            <span class="text-sm">{{ post.location }}</span>
          </div>
          <div class="mb-2">
            <i class="fas fa-user mr-2"></i>
            <span class="text-sm">{{ post.owner.firstName }} {{ post.owner.lastName }}</span>
          </div>
        </div>
        <div class="font-bold text-xl mb-4">Nội Dung</div>
        <div v-html="post.content" class="mb-4"></div>
        <div v-if="post.items.length > 0">
          <div class="font-bold text-xl mb-4">Đồ Vật</div>
          <div class="mb-4" v-for="i in post.items" :key="i.id">
            <div v-if="i.images.length > 0">
              <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-4">
                <div v-for="url in i.images" :key="url">
                  <img :src="url">
                </div>
              </div>
            </div>
            <div>{{ i.name }}: x {{ i.quantity }} {{ i.unit }}</div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-1/3 p-4">
        <div v-if="post.state === 1"
        class="cursor-pointer rounded-lg sys-bg-primary text-white text-sm text-center font-bold
          py-2 mb-4"
          @click="requestTransaction">
          Giao Dịch
        </div>
        <div class="cursor-pointer rounded-lg sys-bg-secondary text-white text-sm text-center
          font-bold py-2 mb-4"
          @click="report">
          {{ reportText }}
        </div>
        <div class="font-bold text-xl mb-2">Thông Tin</div>
        <div class="flex border-b border-gray-500 text-sm py-2">
          <div class="w-1/2 sys-text-2">Loại tin</div>
          <div class="w-1/2 flex justify-end">{{ post.type === 0 ? 'Trao tặng' : 'Tìm đồ' }}</div>
        </div>
        <div class="flex border-b border-gray-500 text-sm py-2">
          <div class="w-1/2 sys-text-2">Danh mục</div>
          <div class="w-1/2 flex justify-end">{{ post.category.name }}</div>
        </div>
        <div class="flex border-b border-gray-500 text-sm py-2">
          <div class="w-1/2 sys-text-2">Tỉnh thành</div>
          <div class="w-1/2 flex justify-end">{{ post.province.name }}</div>
        </div>
        <div class="flex border-b border-gray-500 text-sm py-2">
          <div class="w-1/2 sys-text-2">Vào lúc</div>
          <div class="w-1/2 flex justify-end">{{ post.createdAt }}</div>
        </div>
      </div>
    </div>
    <require-login-modal v-show="isShowLoginModal" @close="onCloseLoginModal"/>
    <alert-modal v-show="isShowAlertModal"
      :text="alertModalText"
      @ok="onAlertModalOk"/>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue,
} from 'vue-property-decorator'
import { mapState } from 'vuex'

import RequireLoginModal from '@/components/core/shared/RequireLoginModal.vue'
import AlertModal from '@/components/core/shared/AlertModal.vue'
import PostsAPI from '@/api/post'
import TransactionsAPI from '@/api/transaction'
import ResponsesAPI from '../../api/response'

@Component({
  components: {
    RequireLoginModal, AlertModal,
  },
})

export default class Detail extends Vue {
  @Prop() id!: string

  private reportText = 'Báo Cáo'

  private isShowAlertModal = false

  private alertModalText = ''

  private isShowLoginModal = false

  private isWaitingForApprove = false

  private post: any = {}

  created() {
    PostsAPI.getPost(this.id, 2)
      .then((response: any) => {
        console.log(response.data)
        this.post = response.data
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public requestTransaction() {
    if (this.$store.getters['userInfo/isUserLoggedIn']) {
      if (this.post.owner.id !== this.$store.state.userInfo.userId) {
        TransactionsAPI.create(this.post.owner.id, this.$store.state.userInfo.userId, this.id,
          this.$store.state.userInfo.token)
          .then(() => {
            console.log('ok')
          })
      } else {
        this.alertModalText = 'Bạn không thể tự giao dịch với chính mình!'
        this.isShowAlertModal = true
      }
    } else {
      this.isShowLoginModal = true
    }
  }

  public report() {
    if (this.$store.getters['userInfo/isUserLoggedIn']) {
      if (this.post.owner.id !== this.$store.state.userInfo.userId) {
        ResponsesAPI.create(this.$store.state.userInfo.userId, this.id, 0,
          this.$store.state.userInfo.token)
          .then(() => {
            this.reportText = 'Đã Báo Cáo'
          })
      } else {
        this.alertModalText = 'Bạn không thể tự báo cáo chính mình!'
        this.isShowAlertModal = true
      }
    } else {
      this.isShowLoginModal = true
    }
  }

  public onCloseLoginModal(): void {
    this.isShowLoginModal = false
  }

  public onAlertModalOk(): void {
    this.isShowAlertModal = false
  }
}
</script>
