<template>
  <div class="">
    <div class="container mx-auto">
      <h1 class="font-bold text-3xl mb-16">ĐÔI CHÚT VỀ TAKE IT</h1>
      <h2 class="font-bold text-2xl mb-4">Đừng lãng phí khi đồ vật còn giá trị sử dụng</h2>
      <p class="mb-4">
        Bạn có biết rằng nếu bạn cho đi một đồ vật cũ tới người khác là bạn đang giúp giảm lượng
        rác thải, góp phần không nhỏ vào công cuộc bảo vệ môi trường của nhân loại? Bạn có biết
        rằng ở ngoài kia có thể ai đó đang cần một món đồ mà bạn dự định vứt đi? Một món đồ tuy
        có thể đã hết giá trị sử dụng với bạn, nhưng lại là một thứ gì đó cần thiết với người khác.
      </p>
      <h2 class="font-bold text-2xl mb-4">Tầm nhìn và sứ mệnh</h2>
      <p class="mb-4">
        TAKEIT đang nỗ lực để trở thành một cái tên trong lĩnh vực hàng đầu trong lĩnh vực trao
        tặng đồ cũ tại Việt Nam. Chúng tôi cung cấp cho mọi người một nền tảng số đáng tin cậy,
        tiện lợi để thực hiện các giao dịch trao tặng hàng ngày. Tại đây, bạn có thể dễ dàng tìm
        kiếm món đồ bạn cần hoặc đăng tải đồ vật bạn muốn cho đi.
      </p>
    </div>
  </div>
</template>
