<template>
  <div>
    <div
      class="h-screen bg-no-repeat bg-center bg-cover bg-scroll"
      style="background-image: url('/img/landing/paper-plane.png')">
      <div class="w-full h-full flex flex-col justify-center items-center"
        style="background: rgba(0,0,0,.01)">
        <h1 class="text-6xl font-bold mb-8">TAKE IT</h1>
        <p class="text-xl mb-8">
          Một nền tảng tuyệt vời để bạn có thể trao tặng và nhận đồ vật không còn sử dụng.
        </p>
        <router-link
          class="flex justify-center items-center px-4 py-2 sys-bg-primary text-white font-bold
          rounded-lg mb-4"
          to="/posts">
          Khám Phá
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import HomeNav from '@/components/core/navs/HomeNav.vue'

@Component({
  components: {
    HomeNav,
  },
})

export default class Home extends Vue {
}
</script>
