<template>
  <div class="">
    <div class="container mx-auto">
      <h1 class="font-bold text-3xl mb-16">GIAO DỊCH AN TOÀN</h1>
      <h2 class="font-bold text-2xl mb-4">Kiểm tra kĩ thông tin người trao tặng / người nhận</h2>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ipsum maiores dignissimos
        ea adipisci nesciunt officiis nisi et quasi laudantium, perspiciatis unde! Corrupti quia
        accusantium dolorum praesentium. Fugiat, laboriosam expedita!
      </p>
      <h2 class="font-bold text-2xl mb-4">Tầm nhìn và sứ mệnh</h2>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia ipsum maiores dignissimos
        ea adipisci nesciunt officiis nisi et quasi laudantium, perspiciatis unde! Corrupti quia
        accusantium dolorum praesentium. Fugiat, laboriosam expedita!
      </p>
    </div>
  </div>
</template>
