<template>
  <nav class="nav w-full">
    <div class="container mx-auto flex justify-between items-center">
      <router-link class="font-bold text-xl text-center"
        to="/">
        TAKE IT
      </router-link >
      <div>
        <ul class="flex items-center py-2">
          <li>
            <router-link class="block text-sm px-4 py-2 font-semibold truncate" to="/about">
              Về Chúng Tôi
            </router-link>
          </li>
          <li>
            <div class="cursor-pointer sys-bg-primary rounded-lg text-white px-4 py-2
              text-sm font-semibold truncate"
              @click="loginOrGoToDashboard">
              {{ loginText }}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component
export default class PostNav extends Vue {
  private loginText = 'Đăng Nhập'

  created() {
    if (this.$store.getters['userInfo/isUserLoggedIn']) {
      this.loginText = this.$store.state.userInfo.userName
    }
  }

  loginOrGoToDashboard() {
    if (this.$store.getters['userInfo/isUserLoggedIn']) {
      this.$router.push({
        name: 'user-dashboard',
      })
    } else {
      this.$router.push({
        name: 'user-login',
      })
    }
  }
}
</script>
