<template>
  <nav class="nav">
    <div class="flex items-center px-4 py-2">
      <div class="font-bold">TAKE IT</div>
    </div>
    <div class="container mx-auto">
      <ul class="flex">
        <li class="w-5/12">
          <router-link to="/" class="block p-4 hover:text-blue-600">
            <div class="flex flex-col justify-center items-center">
              <div>
                <i class="fas fa-list-ul"></i>
              </div>
              <div>Duyệt</div>
            </div>
          </router-link>
        </li>
        <li class="w-2/12">
          <router-link to="/post" class="block">
            <div class="flex justify-center items-center py-4">
              <div class="w-12 h-12 flex justify-center items-center rounded-full bg-red-600
                text-white">
                <i class="fas fa-pen-square"></i>
              </div>
            </div>
          </router-link>
        </li>
        <li class="w-5/12">
          <router-link to="/profile" class="block p-4 hover:text-blue-600">
            <div class="flex flex-col justify-center items-center">
              <div>
                <i class="fas fa-user"></i>
              </div>
              <div>Cá nhân</div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({});
</script>
