<template>
  <div class="">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="state-2" type="radio" name="item-state">
            <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="1"
              @click="changeState">
              Đang Giao Dịch
            </label>
            <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="2"
              @click="changeState">
              Bị Khoá
            </label>
            <input class="hidden" id="state-4" type="radio" name="item-state">
            <label for="state-4" class="z-20 cursor-pointer px-4 py-2" data-state="4"
              @click="changeState">
              Hoàn Thành
            </label>
            <input class="hidden" id="state-all" type="radio" name="item-state">
            <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="-1"
              @click="changeState">
              Tất Cả
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="transactions.length > 0">
          <div v-for="transaction in transactions" :key="transaction.id"
            class="cursor-pointer hover:bg-blue-500 hover:text-white
              transition duration-300 ease-linear px-2 py-4"
            @click="loadItem(item.id)">
            <div class="font-bold mb-4">Giao dịch {{ transaction.id }}</div>
          </div>
        </div>
        <div v-else class="text-sm">Không có giao dịch nào.</div>
      </div>

      <div class="w-full lg:w-2/3 sys-bg-5 p-8">
        <div v-if="Object.keys(transaction).length > 0">
          <div class="text-2xl font-bold mb-4">
            Giao dịch {{ transaction.id }}
          </div>
          <div class="text-sm">
            Từ tin: {{ transaction.post.title }}
          </div>
          <div class="text-sm">
            Người trao tặng: {{ transaction.giver.firstName }} {{ transaction.giver.lastName }}
          </div>
          <div class="text-sm mb-4">
            Người nhận: {{ transaction.receiver.firstName }} {{ transaction.receiver.lastName }}
          </div>
          <div class="text-sm mb-4">
            Tạo vào lúc: {{ transaction.createdAt }}
          </div>
          <div class="text-sm mb-4">
            Trạng thái: {{ transaction.state }}
          </div>
          <button v-if="transaction.state === 1"
            class="inline-block w-auto bg-red-500 text-white font-bold rounded-lg
            text-sm px-4 py-2"
            @click="lock">
            Khoá
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import TransactionsAPI from '@/api/transaction'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminTransactions extends Vue {
  private currentState = 1

  private transactions = []

  private transaction: any = {}

  created() {
    TransactionsAPI.filter('', this.currentState, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.transactions = response.data
        this.transaction = firstItem
      })
      .catch((error: any) => {
        this.transactions = []
        this.transaction = {}
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="1"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="1"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    TransactionsAPI.filter('', this.currentState, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.transactions = response.data
        this.transaction = firstItem
      })
      .catch((error: any) => {
        this.transactions = []
      })
  }

  public loadTransaction(transactionId: string): void {
    TransactionsAPI.getTransaction(transactionId, 2)
      .then((response: any) => {
        this.transaction = response.data
      })
      .catch((error: any) => {
        this.transaction = {}
      })
  }

  public reloadItem(): void {
    TransactionsAPI.filter('', this.currentState, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        this.transactions = response.data
        this.transaction = {}
      })
      .catch(() => {
        this.transactions = []
      })
  }

  public lock(): void {
    TransactionsAPI.update(this.transaction.id, this.transaction.giver.id,
      this.transaction.receiver.id, this.transaction.post.id, this.transaction.createdAt, 2,
      this.$store.state.userInfo.token)
      .then(() => {
        console.log('ok')
      })
  }
}
</script>
