<template>
  <div class="">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="state-0" type="radio" name="item-state">
            <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
              @click="changeState">
              Chờ Duyệt
            </label>
            <input class="hidden" id="state-all" type="radio" name="item-state">
            <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="-1"
              @click="changeState">
              Tất Cả
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="items.length > 0">
          <div v-for="item in items" :key="item.id"
            class="cursor-pointer hover:bg-blue-500 hover:text-white
              transition duration-300 ease-linear px-2 py-4"
            @click="loadItem(item.id)">
            <div class="font-bold mb-2">{{ item.name }}</div>
            <div class="text-sm">{{ item.owner }}</div>
          </div>
        </div>
        <div v-else class="text-sm">Không có đồ vật nào.</div>
      </div>

      <div class="w-full lg:w-2/3 sys-bg-5 p-8">
        <div v-if="Object.keys(item).length > 0">
          <div class="text-2xl font-bold">
            {{ item.name }}
          </div>
          <div class="text-sm mb-4">
            Số lượng: {{ item.quantity }} {{ item.unit }}
          </div>
          <div class="grid grid-cols-3 gap-4 mb-4">
            <div v-for="img in item.images" :key="img">
              <img :src="img">
            </div>
          </div>
          <div>Chủ sở hữu: {{ item.owner }}</div>
          <div class="mb-4">Trạng thái: {{ item.state }}</div>
          <div v-if="item.state === 0">
            <button class="inline-block w-auto bg-green-500 text-white font-bold rounded-lg
              text-sm px-4 py-2 mr-2"
              @click="approve(item.id, item.owner, item.name, item.quantity, item.unit,
                item.images)">
              Duyệt
            </button>
            <button class="inline-block w-auto bg-red-500 text-white font-bold rounded-lg
              text-sm px-4 py-2"
              @click="deny(item.id)">
              Từ Chối
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import ItemsAPI from '@/api/item'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminItems extends Vue {
  private currentState = 0

  private items = []

  private item: any = {}

  created() {
    ItemsAPI.filter('', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.items = response.data
        this.item = firstItem
      })
      .catch((error: any) => {
        this.items = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    ItemsAPI.filter('', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.items = response.data
        this.item = firstItem
      })
      .catch((error: any) => {
        this.items = []
      })
  }

  public loadItem(itemId: string): void {
    ItemsAPI.getItem(itemId, 1, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.item = response.data
      })
      .catch((error: any) => {
        this.item = null
      })
  }

  public reloadItem(): void {
    ItemsAPI.filter('', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        this.items = response.data
        this.item = {}
      })
      .catch(() => {
        this.items = []
      })
  }

  public approve(id: string, owner: string, name: string, quantity: number, unit: string,
    images: Array<string>): void {
    ItemsAPI.update(id, owner, name, quantity, unit, images, 1, this.$store.state.userInfo.token)
      .then(() => {
        this.reloadItem()
      })
  }

  public deny(id: string): void {
    ItemsAPI.delete(id, this.$store.state.userInfo.token)
      .then(() => {
        this.reloadItem()
      })
  }
}
</script>
