<template>
  <div>
    <div class="relative w-auto inline-block mb-8">
      <div class="a select-none w-full flex font-semibold text-sm
        sys-text-1">
        <input class="hidden" id="state-0" type="radio" name="item-state">
        <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
          @click="changeState">
          Chờ Duyệt
        </label>
        <input class="hidden" id="state-1" type="radio" name="item-state">
        <label for="state-1" class="z-20 cursor-pointer px-4 py-2" data-state="1"
          @click="changeState">
          Sẵn Sàng
        </label>
        <input class="hidden" id="state-2" type="radio" name="item-state">
        <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="2"
          @click="changeState">
          Đang Sử Dụng
        </label>
        <input class="hidden" id="state-3" type="radio" name="item-state">
        <label for="state-3" class="z-20 cursor-pointer px-4 py-2" data-state="3"
          @click="changeState">
          Đã Cho Đi
        </label>
        <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
      </div>
    </div>

    <div class="sys-bg-5 p-4">
      <div v-if="items.length > 0">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
          <div v-for="item in items" :key="item.id"
            class="sys-bg-4 rounded-lg">
            <div class="mb-4">
              <img :src="item.images[0]" :alt="item.name" class="rounded-t-lg item__image">
            </div>
            <div class="px-4 font-bold text-xl">{{ item.name }}</div>
            <div class="px-4 text-gray-700 text-sm mb-4">Số lượng: {{ item.quantity }}</div>
            <div v-if="item.state === 0"
              class="cursor-pointer p-2 text-center sys-bg-primary sys-text-1"
              @click="cancel(item.id)">Huỷ
            </div>
          </div>
        </div>
      </div>
      <div v-else class="pl-2 text-sm">Không có đồ vật nào.</div>
    </div>

    <confirmation-modal v-show="isConfirmationModalShow"
      :text="'Bạn chắc chắn muốn xoá chứ?'"
      :confirmText="'Xoá'"
      :id="selectedItemId"
      @confirm="onConfirm"
      @cancel="onCancal"/>
  </div>
</template>

<style lang="sass" scoped>
  .item__image
    width: 100%
    height: 200px
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import ItemsAPI from '@/api/item'
import ConfirmationModal from '@/components/core/shared/ConfirmationModal.vue'

@Component({
  components: {
    ConfirmationModal,
  },
})
export default class UserItems extends Vue {
  private currentState = 0

  private items: Array<any> = []

  private selectedItemId = ''

  private isConfirmationModalShow = false

  created() {
    ItemsAPI.filter(this.$store.state.userInfo.userId, this.currentState, 0,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.items = response.data
      })
      .catch((error: any) => {
        this.items = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    ItemsAPI.filter(this.$store.state.userInfo.userId, this.currentState, 0,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.items = response.data
      })
      .catch((error: any) => {
        this.items = []
      })
  }

  public cancel(itemId: string): void {
    this.selectedItemId = itemId
    this.isConfirmationModalShow = true
  }

  public onConfirm(itemId: string): void {
    ItemsAPI.delete(itemId, this.$store.state.userInfo.token)
      .then((response) => {
        const index = this.items.findIndex((i) => i.id === itemId)

        this.items.splice(index, 1)
        this.isConfirmationModalShow = false
      })
      .catch((error) => {
        console.log(error)
      })
  }

  public onCancal(): void {
    this.isConfirmationModalShow = false
  }
}

</script>
