<template>
    <div>
        <div class="flex justify-en">
            <i class="fas fa-list-ul"></i>
        </div>
    </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    
})
</script>