<template>
  <div>
    <div v-if="items.length > 0">
      <div class="mb-4">Chọn một đồ vật bên dưới để thêm</div>
        <div class="grid grid-cols-3 gap-4">
          <div class="cursor-pointer sys-bg-5 sys-text-1 p-4"
            v-for="i in items" :key="i.id" @click="$emit('add-item', i.id)">
            <div class="font-bold text-xl">{{ i.name }}</div>
            <div>{{ i.quantity }} {{ i.unit }}</div>
          </div>
        </div>
    </div>
    <div v-else>Không có đồ vật nào!</div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import ItemsAPI from '@/api/item'

@Component({
  components: {
  },
})

export default class ItemAddModal extends Vue {
  private items: Array<any> = []

  created() {
    ItemsAPI.filter(this.$store.state.userInfo.userId, 1, 0, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.items = response.data
      })
      .catch((error: any) => {
        this.items = []
      })
  }
}
</script>
