<template>
  <div>
    <div class="relative w-auto inline-block mb-8">
      <div class="a select-none w-full flex font-semibold text-sm
        sys-text-1">
        <input class="hidden" id="state-0" type="radio" name="item-state">
        <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
          @click="changeState">
          Chờ Duyệt
        </label>
        <input class="hidden" id="state-1" type="radio" name="item-state">
        <label for="state-1" class="z-20 cursor-pointer px-4 py-2" data-state="1"
          @click="changeState">
          Sẵn Sàng
        </label>
        <input class="hidden" id="state-2" type="radio" name="item-state">
        <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="2"
          @click="changeState">
          Đang Chờ Giao Dịch
        </label>
        <input class="hidden" id="state-3" type="radio" name="item-state">
        <label for="state-3" class="z-20 cursor-pointer px-4 py-2" data-state="3"
          @click="changeState">
          Đang Giao Dịch
        </label>
        <input class="hidden" id="state-4" type="radio" name="item-state">
        <label for="state-4" class="z-20 cursor-pointer px-4 py-2" data-state="4"
          @click="changeState">
          Bị Khoá
        </label>
        <input class="hidden" id="state-5" type="radio" name="item-state">
        <label for="state-5" class="z-20 cursor-pointer px-4 py-2" data-state="5"
          @click="changeState">
          Hoàn Thành
        </label>
        <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
      </div>
    </div>

    <div class="sys-bg-5 p-4">
      <div v-if="posts.length > 0">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
          <div v-for="post in posts" :key="post.id"
            class="sys-bg-4 rounded-lg pt-4">
            <a class="block px-4 font-bold text-xl mb-4"
              :href="`/post/${post.id}`">
              {{ post.title }}
            </a>
            <div class="px-4 text-sm mb-2">Danh Mục: {{ post.category.name }}</div>
            <div class="px-4 text-sm mb-2">Loại: {{ post.type }}</div>
            <div class="px-4 text-sm mb-2">Đồ Vật: {{ post.items.length }}</div>
            <div class="px-4 text-sm mb-2">Địa Điểm: {{ post.location }}</div>
            <div v-if="post.state === 0"
              class="cursor-pointer p-2 text-center bg-gray-600 text-white"
              @click="cancel(post.id)">Huỷ
            </div>
            <div v-if="post.state === 2"
              class="cursor-pointer p-2 text-center bg-gray-600 text-white"
              @click="approve(post)">Xác Nhận
            </div>
          </div>
        </div>
      </div>
      <div v-else class="pl-2 text-sm">Không có bài đăng nào.</div>
    </div>

    <confirmation-modal v-show="isConfirmationModalShow"
      :text="'Bạn chắc chắn muốn xoá chứ?'"
      :confirmText="'Xoá'"
      :id="selectedPostId"
      @confirm="onConfirm"
      @cancel="onCancel"/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import PostsAPI from '@/api/post'
import ConfirmationModal from '@/components/core/shared/ConfirmationModal.vue'

@Component({
  components: {
    ConfirmationModal,
  },
})

export default class UserPosts extends Vue {
  private currentState = 0

  private posts: Array<any> = []

  private selectedPostId = ''

  private isConfirmationModalShow = false

  created() {
    PostsAPI.filter(this.$store.state.userInfo.userId, -1, '', '',
      this.currentState, 2, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.posts = response.data
      })
      .catch((error: any) => {
        this.posts = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    PostsAPI.filter(this.$store.state.userInfo.userId, -1, '', '', this.currentState, 2,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.posts = response.data
      })
      .catch((error: any) => {
        console.log(error)
        this.posts = []
      })
  }

  public cancel(postId: string): void {
    this.selectedPostId = postId
    this.isConfirmationModalShow = true
  }

  public approve(post: any): void {
    const postItemIds = post.items.map((i: any) => i.id)
    PostsAPI.update(post.id, post.owner.id, post.category.id, post.province.id, post.type,
      post.title, post.content, post.location, postItemIds, 3, this.$store.state.userInfo.token)
      .then(() => {
        console.log('ok')
      })
      .catch((error) => {
        console.log(error)
      })
  }

  public onConfirm(postId: string): void {
    PostsAPI.delete(postId, this.$store.state.userInfo.token)
      .then((response: any) => {
        const index = this.posts.findIndex((i) => i.id === postId)
        this.posts.splice(index, 1)
        this.isConfirmationModalShow = false
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public onCancel(): void {
    this.isConfirmationModalShow = false
  }
}
</script>
