<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Phân Tích</div>
    <over-all/>
    <admin-analysis/>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import OverAll from '@/components/admin/analysis/OverAll.vue'
import AdminAnalysis from '@/components/admin/analysis/AdminAnalysis.vue'

@Component({
  components: {
    OverAll, AdminAnalysis,
  },
})

export default class Analysis extends Vue {
}
</script>
