<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Dashboard</div>
    <div class="mb-8">Chọn một chức năng quản lý:</div>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-8">
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/analystics">
        Phân Tích
      </router-link>
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/items">
        Đồ Vật
      </router-link>
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/posts">
        Tin
      </router-link>
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/transactions">
        Giao Dịch
      </router-link>
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/users">
        Người Dùng
      </router-link>
      <router-link class="sys-bg-5 rounded-lg text-center font-bold text-xl p-8"
        to="/admin/responses">
        Phản Hồi
      </router-link>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component({
})

export default class Dashboard extends Vue {
}
</script>
