<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Đồ Vật</div>
    <admin-items/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import AdminItems from '@/components/admin/item/AdminItems.vue'

@Component({
  components: {
    AdminItems,
  },
})

export default class Items extends Vue {
}
</script>
