<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Tin</div>
    <admin-posts/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import AdminPosts from '@/components/admin/post/AdminPosts.vue'

@Component({
  components: {
    AdminPosts,
  },
})

export default class Posts extends Vue {
}
</script>
