<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Phản Hồi</div>
    <admin-responses/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import AdminResponses from '@/components/admin/response/AdminResponses.vue'

@Component({
  components: {
    AdminResponses,
  },
})

export default class Responses extends Vue {
}
</script>
