<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Giao Dịch</div>
    <admin-transactions/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import AdminTransactions from '@/components/admin/transaction/AdminTransactions.vue'

@Component({
  components: {
    AdminTransactions,
  },
})

export default class Transactions extends Vue {
}
</script>
