<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Người Dùng</div>
    <admin-users/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import AdminUsers from '@/components/admin/user/AdminUsers.vue'

@Component({
  components: {
    AdminUsers,
  },
})

export default class Users extends Vue {
}
</script>
