<template>
  <div class="pt-4">
    <div class="mb-4">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7FFrxhGko3hUyRhuXBo8cpFfx_cdN5z6syFiBHJBJNUyl2SFf&usqp=CAU"
        class="rounded-full w-8 h-8 mx-auto"
      />
    </div>

    <div class="font-semibold text-xs text-center mb-8">{{ userName }}</div>

    <ul>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/dashboard">
            <i class="fas fa-tachometer-alt"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Dashboard
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/items">
            <i class="fas fa-cube"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Đồ vật
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/posts">
            <i class="fas fa-pencil-alt"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Tin
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/transactions">
            <i class="fas fa-sync-alt"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Giao dịch
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/responses">
            <i class="far fa-comment-dots"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Phản hồi
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/user/settings">
            <i class="fas fa-cog"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Cài đặt
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <div class="cursor-pointer flex justify-center items-center px-4 py-2"
            @click="logOut">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <div class="tooltip__text sys-bg-3">
            Đăng xuất
          </div>
        </li>
        <li class="tooltip hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/posts">
            <i class="fas fa-home"></i>
          </router-link>
          <div class="tooltip__text sys-bg-3">
            Về danh sách tin
          </div>
        </li>
      </ul>
  </div>
</template>

<style lang="sass" scoped>
.tooltip
  position: relative

  &:hover
    .tooltip__text
      visibility: visible

.tooltip__text
  position: absolute
  z-index: 50
  top: 8px
  left: 70px
  visibility: hidden
  display: flex
  justify-content: center
  align-items: center
  width: max-content
  height: 32px
  padding: 8px 16px
  font-size: .75rem
  font-weight: 600
  border-radius: 15px

</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component
export default class LeftMenu extends Vue {
  private userName = this.$store.state.userInfo.userName

  public logOut(): void {
    // Clear userInfo state and localStorage
    this.$store.commit('userInfo/changeUserId', '')
    localStorage.setItem('userId', '')
    this.$store.commit('userInfo/changeUserName', '')
    localStorage.setItem('userName', '')
    this.$store.commit('userInfo/changeLevel', 0)
    localStorage.setItem('userLevel', '')
    this.$store.commit('userInfo/changeToken', '')
    localStorage.setItem('userToken', '')

    this.$router.push({
      name: 'posts',
    })
  }
}
</script>
