<template>
  <div class="">
    <div>
      <ul>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/dashboard">
            <i class="fas fa-tachometer-alt"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/analystics">
            <i class="fas fa-chart-pie"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/items">
            <i class="fas fa-cube"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/posts">
            <i class="fas fa-pencil-alt"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/transactions">
            <i class="fas fa-sync-alt"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/responses">
            <i class="far fa-comment-dots"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/users">
            <i class="fas fa-users"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/admin/settings">
            <i class="fas fa-cog"></i>
          </router-link>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <div class="cursor-pointert flex justify-center items-center px-4 py-2"
            @click="logOut">
            <i class="fas fa-sign-out-alt"></i>
          </div>
        </li>
        <li class="hover:sys-bg-6 py-2">
          <router-link class="flex justify-center items-center px-4 py-2"
            to="/posts">
            <i class="fas fa-home"></i>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component
export default class LeftMenuAdmin extends Vue {
  public logOut(): void {
    // Clear userInfo state and localStorage
    this.$store.commit('userInfo/changeUserId', '')
    localStorage.setItem('userId', '')
    this.$store.commit('userInfo/changeUserName', '')
    localStorage.setItem('userName', '')
    this.$store.commit('userInfo/changeLevel', 0)
    localStorage.setItem('userLevel', '')
    this.$store.commit('userInfo/changeToken', '')
    localStorage.setItem('userToken', '')

    this.$router.push({
      name: 'posts',
    })
  }
}
</script>
