<template>
  <div>
    <div class="relative w-auto inline-block mb-8">
      <div class="a select-none w-full flex font-semibold text-sm
        sys-text-1">
        <input class="hidden" id="state-0" type="radio" name="item-state">
        <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
          @click="changeState">
          Đang Chờ
        </label>
        <input class="hidden" id="state-1" type="radio" name="item-state">
        <label for="state-1" class="z-20 cursor-pointer px-4 py-2" data-state="1"
          @click="changeState">
          Trong Giao Dịch
        </label>
        <input class="hidden" id="state-2" type="radio" name="item-state">
        <label for="state-2" class="z-20 cursor-pointer px-4 py-2" data-state="2"
          @click="changeState">
          Bị Khoá
        </label>
        <input class="hidden" id="state-3" type="radio" name="item-state">
        <label for="state-3" class="z-20 cursor-pointer px-4 py-2" data-state="3"
          @click="changeState">
          Chờ Xác Nhận
        </label>
        <input class="hidden" id="state-4" type="radio" name="item-state">
        <label for="state-4" class="z-20 cursor-pointer px-4 py-2" data-state="4"
          @click="changeState">
          Hoàn Thành
        </label>
        <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
      </div>
    </div>

    <div class="sys-bg-5 p-4">
      <div v-if="transactions.length > 0">
        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
          <div v-for="transaction in transactions" :key="transaction.id"
            class="sys-bg-4 rounded-lg p-4">
            <a class="block font-bold text-lg mb-4"
              :href="`/user/transaction/${transaction.id}`">
              Giao dịch {{ transaction.id }}
            </a>
            <div class="px-4 sys-text-2 text-sm mb-2">
              Người Trao Tặng: {{ transaction.giver.firstName }} {{ transaction.giver.lastName }}
            </div>
            <div class="px-4 sys-text-2 text-sm mb-2">
              Người Nhận: {{ transaction.receiver.firstName }} {{ transaction.receiver.lastName }}
            </div>
            <div class="px-4 sys-text-2 text-sm mb-4">
              Địa Điểm: {{ transaction.post.location }}
            </div>
            <div v-if="transaction.state === 0 && !isReceiver(transaction.receiver.id)"
              class="cursor-pointer sys-bg-6 px-4 py-2 font-bold text-center"
              @click="approve(transaction)">
              Xác Nhận
            </div>
            <div v-if="transaction.state === 1 && isReceiver(transaction.receiver.id)"
              class="cursor-pointer sys-bg-6 px-4 py-2 font-bold text-center"
              @click="approve(transaction)">
              Đã Lấy
            </div>
            <div v-if="transaction.state === 3 && !isReceiver(transaction.receiver.id)"
              class="cursor-pointer sys-bg-6 px-4 py-2 font-bold text-center"
              @click="complete(transaction)">
              Hoàn Thành
            </div>
          </div>
        </div>
      </div>
      <div v-else class="pl-2 text-sm">Không có giao dịch nào.</div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import TransactionsAPI from '@/api/transaction'

@Component({
  components: {
  },
})

export default class UserTransactions extends Vue {
  private currentState = 0

  private transactions: Array<any> = []

  created() {
    TransactionsAPI.filter(this.$store.state.userInfo.userId, this.currentState, 2,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.transactions = response.data
      })
      .catch((error: any) => {
        this.transactions = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    TransactionsAPI.filter(this.$store.state.userInfo.userId, this.currentState, 2,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.transactions = response.data
      })
      .catch((error: any) => {
        console.log(error)
        this.transactions = []
      })
  }

  public isReceiver(id: string): boolean {
    return id === this.$store.state.userInfo.userId
  }

  public approve(transaction: any): void {
    TransactionsAPI.update(transaction.id, transaction.giver.id, transaction.receiver.id,
      transaction.post.id, transaction.createdAt, 1, this.$store.state.userInfo.token)
      .then(() => {
        (document.querySelector('label[data-state="1"]')! as HTMLElement).click()
      })
      .catch((error) => {
        console.log(error)
      })
  }

  public complete(transaction: any): void {
    TransactionsAPI.update(transaction.id, transaction.giver.id, transaction.receiver.id,
      transaction.post.id, transaction.createdAt, 4, this.$store.state.userInfo.token)
      .then(() => {
        (document.querySelector('label[data-state="4"]')! as HTMLElement).click()
      })
      .catch((error) => {
        console.log(error)
      })
  }
}
</script>
