<template>
  <div class="main">
    <div class="flex flex-wrap">
      <div class="sys-bg-5 w-full lg:w-16 h-screen py-8">
        <left-menu/>
      </div>

      <div class="w-full lg:flex-1">
        <slot/>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import LeftMenu from '@/components/user/shared/LeftMenu.vue'

@Component({
  components: {
    LeftMenu,
  },
})

export default class Default extends Vue {
}
</script>
