<template>
  <div class="p-8">
    <div class="mb-8">
      <div class="text-3xl font-bold">Thêm Đồ Vật</div>
    </div>

    <div class="mb-8">
      <form @submit.prevent="add">
        <input class="block w-full px-4 py-3 sys-bg-5 sys-text-1 mb-8" type="text"
          placeholder="Tên đồ vật"
          v-model="name">
        <input class="block w-full px-4 py-3 sys-bg-5 sys-text-1 mb-8" type="number"
          placeholder="Số lượng"
          v-model="quantity">
        <input class="block w-full px-4 py-3 sys-bg-5 sys-text-1 mb-8" type="text"
          placeholder="Đơn vị tính"
          v-model="unit">
        <input class="block py-3 mb-8" type="file" @change="upload" accept="image/*">
        <div class="grid grid-cols-3 gap-4 mb-8">
          <div v-for="url in imagesUrls" :key="url">
            <img :src="url">
          </div>
        </div>
        <button class="bg-red-500 text-white font-bold px-3 py-2" type="submit">Thêm</button>
      </form>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import UploadAPI from '@/api/upload'
import ItemsAPI from '@/api/item'

@Component({
})

export default class Add extends Vue {
  private name = ''

  private quantity = 0

  private unit = ''

  private imagesUrls: Array<string> = []

  public upload(event: any) {
    const fileList = event.target.files
    const formData = new FormData()

    formData.append('type', 'items')
    formData.append(fileList[0].name, fileList[0])

    UploadAPI.upload(formData, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.imagesUrls.push(response.data)
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public add() {
    ItemsAPI.add(
      this.$store.state.userInfo.userId,
      this.name,
      this.quantity,
      this.unit,
      this.imagesUrls,
      this.$store.state.userInfo.token,
    )
      .then(() => {
        this.$router.push({
          name: 'user-items',
        })
      })
  }
}

</script>
