<template>
  <div class="p-8">
    <div class="mb-8">
      <div class="text-3xl font-bold">Sửa Đồ Vật</div>
      <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Iusto facere, magni, nobis enim quo, adipisci voluptatibus culpa quas eius ut officia
          vero.
      </div>
    </div>

    <div class="mb-8">
      <form @submit.prevent="edit">
        <input class="block w-full px-4 py-3 sys-bg-2 sys-text-1 mb-8" type="text"
          placeholder="Tên đồ vật"
          v-model="name">
        <input class="block w-full px-4 py-3 sys-bg-2 sys-text-1 mb-8" type="number"
          placeholder="Số lượng"
          v-model="quantity">
        <input class="block w-full px-4 py-3 sys-bg-2 sys-text-1 mb-8" type="text"
          placeholder="Đơn vị tính"
          v-model="unit">
        <input class="block py-3 mb-8" type="file" @change="upload" accept="image/*">
        <div class="grid grid-cols-3 gap-4 mb-8">
          <div v-for="url in imagesUrls" :key="url">
            <img :src="url">
          </div>
        </div>
        <button class="bg-red-500 text-white font-bold px-3 py-2" type="submit">Lưu</button>
      </form>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import UploadAPI from '@/api/upload'
import ItemsAPI from '@/api/item'

@Component({
})

export default class Edit extends Vue {
  @Prop() id!: string

  private name = ''

  private quantity = 0

  private unit = ''

  private imagesUrls: Array<string> = []

  private state = 0

  created() {
    ItemsAPI.getItem(this.id, 0, this.$store.state.token)
      .then((response: any) => {
        this.name = response.data.name
        this.quantity = response.data.quantity
        this.unit = response.data.unit
        this.imagesUrls = response.data.images
        this.state = response.data.state
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public upload(event: any) {
    const fileList = event.target.files
    const formData = new FormData()

    formData.append('type', 'items')
    formData.append(fileList[0].name, fileList[0])

    UploadAPI.upload(formData, this.$store.state.token)
      .then((response: any) => {
        console.log(response)
        this.imagesUrls.push(response.data)
        console.log(this.imagesUrls)
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public edit() {
    ItemsAPI.update(
      this.id,
      this.$store.state.userId,
      this.name, this.quantity,
      this.unit, this.imagesUrls, this.state,
      this.$store.state.token,
    )
      .then(() => {
        this.$router.push({
          name: 'user-items',
        })
      })
      .catch((error) => {
        console.log(error)
      })
  }
}

</script>
