<template>
  <div class="">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="state-0" type="radio" name="item-state">
            <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
              @click="changeState">
              Đang Chờ
            </label>
            <input class="hidden" id="state-all" type="radio" name="item-state">
            <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="-1"
              @click="changeState">
              Tất Cả
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="responses.length > 0">
          <div v-for="response in responses" :key="response.id"
            class="cursor-pointer hover:bg-blue-500 hover:text-white
              transition duration-300 ease-linear px-2 py-4"
            @click="loadItem(response.id)">
            <div class="font-bold mb-2">{{ response.id }}</div>
            <div class="text-sm">Loại: {{ response.type === 0 ? 'Tin tức' : 'Người dùng' }}</div>
          </div>
        </div>
        <div v-else class="text-sm">Không có phản hồi nào.</div>
      </div>

      <div class="w-full lg:w-2/3 sys-bg-5 p-8">
        <div v-if="Object.keys(response).length > 0">
          <div class="text-2xl font-bold mb-4">
            Phản hồi {{ response.id }}
          </div>
          <div class="text-sm">
            ID Đối tượng:
            <router-link class="sys-text-primary" :to="`/post/${response.subject.id}`">
              {{ response.subject.id }}
            </router-link>
            ({{ response.type === 0 ? 'tin' : 'người dùng' }})
          </div>
          <div class="text-sm mb-4">Người báo cáo:
            {{ response.reporter.firstName }} {{ response.reporter.lastName }}
          </div>
          <div class="text-sm mb-4">Trạng thái: {{ response.state }}</div>
          <div v-if="response.state === 0">
            <button class="inline-block w-auto bg-green-500 text-white font-bold rounded-lg
              text-sm px-4 py-2 mr-2"
              @click="approve()">
              Giải Quyết
            </button>
            <button class="inline-block w-auto bg-red-500 text-white font-bold rounded-lg
              text-sm px-4 py-2"
              @click="deny()">
              Từ Chối
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import ResponsesAPI from '@/api/response'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminItems extends Vue {
  private currentState = 0

  private responses = []

  private response: any = {}

  created() {
    ResponsesAPI.filter(0, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.responses = response.data
        this.response = firstItem
      })
      .catch((error: any) => {
        this.responses = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    ResponsesAPI.filter(-1, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.responses = response.data
        this.response = firstItem
      })
      .catch((error: any) => {
        this.responses = []
      })
  }

  public loadItem(itemId: string): void {
    ResponsesAPI.getResponse(itemId, 2)
      .then((response: any) => {
        this.response = response.data
      })
      .catch((error: any) => {
        this.response = {}
      })
  }

  public reloadItem(): void {
    ResponsesAPI.filter(0, 2, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        this.responses = response.data
        this.response = {}
      })
      .catch(() => {
        this.responses = []
      })
  }

  public approve(): void {
    ResponsesAPI.update(this.response.id, this.response.reporter.id, this.response.subject.id,
      this.response.content, this.response.adminMessage, this.response.createdAt,
      this.response.type, 1, this.$store.state.userInfo.token)
      .then(() => {
        console.log('ok')
      })
  }

  public deny(): void {
    ResponsesAPI.update(this.response.id, this.response.reporter.id, this.response.subject.id,
      this.response.content, this.response.adminMessage, this.response.createdAt,
      this.response.type, 2, this.$store.state.userInfo.token)
      .then(() => {
        console.log('ok')
      })
  }
}
</script>
