<template>
  <div class="w-full sys-bg-5 rounded-lg p-8 mb-4">
    <div class="mb-4" v-if="isStyle == 1">
      <a class="block font-bold text-xl hover:sys-text-2 mb-2"
        :href="`/post/${id}`">
        {{ title }}
      </a>
      <a class="block font-bold text-sm hover:sys-text-primary mb-2"
        :href="categorySlug">
        {{ categoryName }}
      </a>
      <div class="inline-block text-sm">
        <a class="sys-text-primary mb-2" :href="`/user/`">{{ userName }}</a> •
        <div class="inline-block sys-text-secondary">Địa điểm: {{ location }}</div>
      </div>
    </div>
    <div v-else>
      <div class="flex">
        <div class="flex-1">
          <a class="block font-bold text-xl hover:sys-text-2 mb-2"
            :href="`/post/${id}`">
            {{ title }}
          </a>
          <a class="block font-semibold text-sm hover:sys-text-primary mb-2"
            :href="categorySlug">{{ categoryName }}</a>
        </div>
      </div>
      <div class="text-sm">
        <a class="block sys-text-primary mb-2" :href="`/user/`">{{ userName }}</a>
        <div class="sys-text-secondary">
          Địa điểm: {{ location }}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator';

@Component
export default class Posts extends Vue {
  // Todo: refactor all prop in to post object
  @Prop() id!: string

  @Prop() title!: string

  @Prop() slug!: string

  @Prop() categoryName!: string

  @Prop() categorySlug!: string

  @Prop() location!: string

  @Prop() userName!: string

  @Prop() time!: string

  @Prop() isStyle!: number
}
</script>
