<template>
  <div class="container mx-auto py-8">
    <div class="mb-8">
      <div class="font-bold text-2xl">Duyệt Tin</div>
      <div class="sys-text-2 text-sm font-bold">{{ showingPosts.length }} tin hiện có</div>
    </div>

    <div class="flex justify-between items-center">
      <div class="relative w-auto inline-block">
        <div class="a select-none w-full flex font-semibold text-sm
          sys-text-1">
          <input class="hidden" id="state-0" type="radio" name="item-type">
          <label for="type-0" class="z-20 cursor-pointer px-4 py-2" data-type="0"
            @click="changePostType">
            Trao Tặng
          </label>
          <input class="hidden" id="state-1" type="radio" name="item-state">
          <label for="type-1" class="z-20 cursor-pointer px-4 py-2" data-type="1"
            @click="changePostType">
            Tìm Đồ Vật
          </label>
          <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
        </div>
      </div>

      <div v-if="showingPosts.length > 0"
        class="cursor-pointer px-3 py-2 rounded-lg"
        @click="openFilter">
        <i class="fas fa-filter"></i>
      </div>
    </div>

    <!-- <div class="mb-4">
      <form class="rounded-full border px-6 flex sys-bg-5" action="">
        <button class="py-3 pr-3" type="submit">
          <i class="fas fa-search"></i>
        </button>
        <input class="w-full py-3 sys-bg-5" type="text" name="" id=""
          placeholder="Nhập tên, vật phẩm bạn cần">
      </form>
    </div> -->

    <div v-if="showingPosts.length > 0">
      <div class="flex justify-end pt-2 pb-8">
        <div class="cursor-pointer px-3 py-2 rounded-md mr-1"
          :class="{ 'sys-bg-5': postStyle == 1 }"
          @click="changePostStyle(1)">
          <i class="fas fa-list-ul"></i>
        </div>
        <div class="cursor-pointer px-3 py-2 rounded-md"
          :class="{ 'sys-bg-5': postStyle == 2 }"
          @click="changePostStyle(2)">
          <i class="fas fa-grip-horizontal"></i>
        </div>
      </div>

      <div v-if="postStyle == 1">
        <div class="">
          <Post v-for="post in showingPosts" :key="post.id"
            :id="post.id"
            :category-name="post.category.name" :category-slug="post.category.id"
            :title="post.title" :slug="post.slug"
            :location="post.location"
            :user-name="`${post.owner.firstName} ${post.owner.lastName}`"
            :time="post.createdAt"
            :is-style="1"/>
        </div>
      </div>

      <div v-else>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <Post v-for="post in showingPosts" :key="post.id"
            :id="post.id"
            :category-name="post.category.name" :category-slug="post.category.id"
            :title="post.title" :slug="post.slug"
            :location="post.location"
            :user-name="`${post.owner.firstName} ${post.owner.lastName}`"
            :time="post.createdAt"
            :is-style="2"/>
        </div>
      </div>
    </div>
    <div v-else>
      <p class="text-sm text-center">Không có tin nào</p>
    </div>

    <filter-modal v-show="isFilterShow"
      @commit="onFilterModalCommit"
      @close="onFilterModalClose"/>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator'

import { mapState } from 'vuex'
import FilterModal from '@/components/core/shared/FilterModal.vue'
import PostsAPI from '@/api/post'
import Post from './Post.vue'

@Component({
  components: {
    Post, FilterModal,
  },
})

export default class Posts extends Vue {
  private postType = this.$store.state.postType

  private currentCategory = ''

  private currentProvince = ''

  private postStyle = this.$store.state.postStyle

  private showingPosts = []

  private isFilterShow = false

  created() {
    PostsAPI.getPosts(this.postType)
      .then((response: any) => {
        this.showingPosts = response.data
      })
      .catch((e: any) => {
        this.showingPosts = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-type="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  computed() {
    mapState([
      'postType', 'postStyle',
    ])
  }

  public changePostStyle(style: number): void {
    this.$store.commit('changePostStyle', style)
    this.postStyle = style
  }

  public changePostType(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-type="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.postType = parseInt(event.target.dataset.type, 10)
    this.$store.commit('changePostType', this.postType)

    PostsAPI.getPosts(this.postType)
      .then((response: any) => {
        this.showingPosts = response.data
      })
      .catch((e: any) => {
        this.showingPosts = []
      })
  }

  public openFilter(): void {
    this.isFilterShow = true
  }

  public onFilterModalCommit(category: string, province: string): void {
    this.isFilterShow = false

    PostsAPI.filter('', this.postType, category, province, 1, 2, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.showingPosts = response.data
      })
      .catch(() => {
        this.showingPosts = []
      })
  }

  public onFilterModalClose(): void {
    this.isFilterShow = false
  }
}
</script>
