<template>
  <div class="p-8">
    <div class="text-3xl font-bold mb-4">Dashboard</div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-8">
      <div class="rounded-lg sys-bg-5 p-6">
        <div class="flex justify-between">
          <div class="sys-text-1 text-xl font-bold mb-4">Đồ Vật Hiện Có</div>
          <router-link to="/user/item/add">
            <i class="fas fa-plus sys-text-1"></i>
          </router-link>
        </div>

        <div v-if="items.length > 0">
          <ul class="mb-8">
            <li v-for="item in items" :key="item.id" class="rounded-lg sys-bg-4 px-4 py-2 mb-2">
              <div class="sys-text-1 text-sm font-semibold">
                {{item.name }} (x{{ item.quantity }} {{ item.unit }})
              </div>
            </li>
          </ul>
        </div>
        <div v-else class="mb-4">
          <p class="text-sm sys-text-2">Chưa có đồ vật nào.</p>
        </div>
      </div>

      <div class="rounded-lg sys-bg-5 p-6">
        <div class="sys-text-1 text-xl font-bold mb-4">Giao Dịch Đang Thực Hiện</div>
        <div v-if="transactions.length > 0">
          <ul class="mb-8">
            <li v-for="transaction in transactions" :key="transaction.id"
              class="rounded-lg sys-bg-4 px-4 py-2 mb-2">
              <a class="sys-text-1 text-sm font-semibold" href="">
                {{transaction.id }}
              </a>
            </li>
          </ul>
        </div>
        <div v-else class="mb-4">
          <p class="text-sm sys-text-2">Chưa có giao dịch nào.</p>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="rounded-lg sys-bg-5 p-6">
        <div class="flex justify-between">
          <div class="sys-text-1 text-xl font-bold mb-4">Tin Của Bạn</div>
          <router-link to="/user/post/add">
            <i class="fas fa-plus sys-text-1"></i>
          </router-link>
        </div>

        <div v-if="posts.length > 0">
          <ul class="mb-8">
            <li v-for="post in posts" :key="post.id" class="rounded-lg sys-bg-4 px-4 py-2 mb-2">
              <a class="sys-text-1 text-sm font-semibold" :href="`/post/${post.id}`">
                {{post.title }}
              </a>
            </li>
          </ul>
        </div>
        <div v-else class="mb-4">
          <p class="text-sm sys-text-2">Chưa có tin nào.</p>
        </div>
      </div>

      <div class="rounded-lg sys-bg-5 p-6">
        <div class="sys-text-1 text-xl font-bold">Gần đây</div>
      </div>

      <div class="rounded-lg sys-bg-5 p-6">
        <div class="sys-text-1 text-xl font-bold mb-4">Phản Hồi Báo Cáo</div>
        <div v-if="responses.length > 0">
        </div>
        <div v-else>
          <p class="text-sm sys-text-2">Chưa có phản hồi nào.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import ItemsAPI from '@/api/item'
import PostsAPI from '@/api/post'
import TransactionAPI from '@/api/transaction'
import LeftMenu from '@/components/user/shared/LeftMenu.vue'

@Component({
  components: {
    LeftMenu,
  },
})

export default class Dashboard extends Vue {
  private items: Array<any> = []

  private posts: Array<any> = []

  private transactions: Array<any> = []

  private responses: Array<any> = []

  created() {
    ItemsAPI.filter(this.$store.state.userInfo.userId, -1, 0, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.items = response.data
      })

    // All posts of this user
    PostsAPI.filter(this.$store.state.userInfo.userId, -1, '', '', -1, 0, this.$store.state.userInfo.token)
      .then((response: any) => {
        this.posts = response.data
      })

    TransactionAPI.filter(this.$store.state.userInfo.userId, 1, 2,
      this.$store.state.userInfo.token)
      .then((response: any) => {
        this.transactions = response.data
      })
  }
}
</script>
