<template>
  <div class="bg-cover bg-center" style="background-image: url('/img/landing/paper-plane.png')">
    <div class="w-full lg:w-1/4 mx-auto h-screen flex flex-col justify-center sys-bg-5 p-8">
      <div v-if="isRegisterNow">
        <user-register/>
      </div>
      <div v-else>
        <user-login/>
      </div>
      <router-link class="text-center text-blue-500" to="/">Về trang chủ</router-link>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import { mapState } from 'vuex'

import UserLogin from '@/components/user/UserLogin.vue'

import UserRegister from '@/components/user/UserRegister.vue'

@Component({
  components: {
    UserLogin, UserRegister,
  },
})
export default class Login extends Vue {
  get isRegisterNow() {
    return this.$store.state.isRegisterNow
  }

  computed() {
    mapState([
      'isRegisterNow',
    ])
  }
}
</script>
