<template>
  <div class="user">
    <div class="flex">
      <div class="w-full lg:w-1/4">
        <LeftMenu />
      </div>

      <div class="w-full lg:w-3/4 p-8">
        <div class="py-4">
          <h1 class="text-2xl font-bold mb-4">Hồ Sơ</h1>

          <div class="mb-12">
            <div class="flex justify-between">
              <div class="text-xl font-bold mb-4">Thông Tin Cơ Bản</div>
              <div class="text-blue-500">Chỉnh sửa</div>
            </div>
            <div class="flex">
              <div class="w-32">Họ và tên:</div>
              <div>Name</div>
            </div>
            <div class="flex">
              <div class="w-32">Ngày sinh:</div>
              <div>02/02/2020</div>
            </div>
            <div class="flex">
              <div class="w-32">Địa chỉ trao tặng:</div>
              <div>202 road A, HN</div>
            </div>
            <div class="flex">
              <div class="w-32">Email:</div>
              <div>email@gmail.com</div>
            </div>
            <div class="flex">
              <div class="w-32">Số điện thoại:</div>
              <div>0123 456 789</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
  .grow
    background: linear-gradient(to top, rgba(0,0,0,.01), rgba(0,0,0,.2))
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import LeftMenu from '@/components/user/shared/LeftMenu.vue'

@Component({
  components: {
    LeftMenu,
  },
})

export default class Profile extends Vue {
}
</script>
