<template>
  <div class="pt-8">
    <h1 class="text-3xl font-bold p-4">Cài Đặt</h1>
    <div class="px-4">
      <div class="sys-text-1 font-bold mb-4 select-none">Cá Nhân Hoá</div>
      <input class="mr-2" type="checkbox" @change="switchTheme" v-model="isDarkTheme">
      <span>Giao diện tối</span>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component
export default class Settings extends Vue {
  private isDarkTheme = this.$store.getters['view/isDarkTheme']

  public switchTheme = (e: any): void => {
    const app: any = document.getElementById('app')

    if (e.target.checked) {
      this.$store.dispatch('view/changeTheme', 'dark')
      app.setAttribute('data-theme', 'dark')
    } else {
      this.$store.dispatch('view/changeTheme', 'light')
      app.setAttribute('data-theme', 'light')
    }
  }
}
</script>
