<template>
  <div class="">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-1/3">
        <div class="relative w-auto inline-block mb-8">
          <div class="a select-none w-full flex font-semibold text-sm
            sys-text-1">
            <input class="hidden" id="state-0" type="radio" name="post-state">
            <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
              @click="changeState">
              Chờ Duyệt
            </label>
            <input class="hidden" id="state-4" type="radio" name="post-state">
            <label for="state-4" class="z-20 cursor-pointer px-4 py-2" data-state="4"
              @click="changeState">
              Bị Khoá
            </label>
            <input class="hidden" id="state-0" type="radio" name="post-state">
            <label for="state-5" class="z-20 cursor-pointer px-4 py-2" data-state="5"
              @click="changeState">
              Hoàn Thành
            </label>
            <input class="hidden" id="state-all" type="radio" name="post-state">
            <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="-1"
              @click="changeState">
              Tất Cả
            </label>
            <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
          </div>
        </div>

        <div v-if="posts.length > 0">
          <div v-for="post in posts" :key="post.id"
            class="cursor-pointer hover:bg-blue-500 hover:text-white
              transition duration-300 ease-linear px-2 py-4"
            @click="loadPost(post.id)">
            <div class="font-bold mb-2">{{ post.title }}</div>
            <div class="text-sm">{{ post.owner }}</div>
          </div>
        </div>
        <div v-else class="text-sm">Không có tin nào.</div>
      </div>

      <div class="w-full lg:w-2/3 sys-bg-5 p-8">
        <div v-if="Object.keys(post).length > 0">
          <div class="text-2xl font-bold mb-4">
            {{ post.title }}
          </div>
          <div class="font-bold text-xl mb-2">Thông tin</div>
          <div class="text-sm mb-4">
            Danh mục: {{ post.category.name }}
          </div>
          <div class="text-sm mb-4">
            Người đăng: {{ post.owner.firstName }} {{ post.owner.lastName }}
          </div>
          <div class="text-sm mb-4">
            Tạo vào lúc: {{ post.createdAt }}
          </div>
          <div class="text-sm mb-4">
            Địa điểm: {{ post.location }}
          </div>
          <div class="text-sm mb-4">
            Tỉnh thành: {{ post.province.name }}
          </div>
          <div class="text-sm mb-4">Trạng thái: {{ post.state }}</div>
          <div v-if="post.type === 0">
            <div class="font-bold text-xl mb-2">Đồ Vật</div>
            <div class="grid grid-cols-3 gap-8">
              <div v-for="item in post.items" :key="item.id">
                <img :src="item.images[0]" class="rounded-lg mb-2">
                <div>{{ item.name }} ({{ item.quantity }} {{ item.unit }})</div>
              </div>
            </div>
          </div>
          <div class="font-bold text-xl mb-2">Nội dung</div>
          <div v-html="post.content" class="p-4 sys-bg-4 mb-4"></div>
          <div v-if="post.state === 0">
            <button class="inline-block w-auto bg-green-500 text-white font-bold rounded-lg
              text-sm px-4 py-2 mr-2"
              @click="approve(post.id, post.owner, post.category, post.province, post.type,
                post.title, post.content, post.location, post.items)">
              Duyệt
            </button>
            <button class="inline-block w-auto bg-red-500 text-white font-bold rounded-lg
              text-sm px-4 py-2"
              @click="deny(post.id)">
              Từ Chối
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import PostsAPI from '@/api/post'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminItems extends Vue {
  private currentState = 0

  private posts = []

  private post: any = {}

  created() {
    PostsAPI.filter('', -1, '', '', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data

        this.posts = response.data
        this.post = firstItem

        // PostsAPI.getPost(firstItem.id, 2)
        //   .then((responseX: any) => {
        //     this.post = responseX.data
        //   })
        //   .catch((error: any) => {
        //     this.post = {}
        //   })
        console.log(this.post)
      })
      .catch((error: any) => {
        this.posts = []
      })
  }

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    PostsAPI.filter('', -1, '', '', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        const [firstItem, ...others] = response.data
        this.posts = response.data
        this.post = firstItem
      })
      .catch((error: any) => {
        this.posts = []
      })
  }

  public loadPost(postId: string): void {
    PostsAPI.getPost(postId, 2)
      .then((response: any) => {
        this.post = response.data
      })
      .catch((error: any) => {
        this.post = {}
      })
  }

  public reloadPost(): void {
    PostsAPI.filter('', -1, '', '', this.currentState, 1, this.$store.state.userInfo.token)
      .then((response: AxiosResponse) => {
        this.posts = response.data
        this.post = {}
      })
      .catch(() => {
        this.posts = []
      })
  }

  public approve(id: string, owner: any, category: any, province: any, type: number,
    title: string, content: string, location: string, items: Array<any>): void {
    const itemIds = items.map((i) => i.id)

    PostsAPI.update(id, owner.id, category.id, province.id, type, title, content, location, itemIds,
      1, this.$store.state.userInfo.token)
      .then(() => {
        this.reloadPost()
      })
  }

  public deny(id: string): void {
    PostsAPI.delete(id, this.$store.state.userInfo.token)
      .then(() => {
        this.reloadPost()
      })
  }
}
</script>
