<template>
    <div>
        <main class="main">
            <slot/>
        </main>
    </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component({
})

export default class Blank extends Vue {
}
</script>
