<template>
    <div>
        <home-nav/>
        <main>
            <slot/>
        </main>
    </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import HomeNav from '@/components/core/navs/HomeNav.vue'

@Component({
  components: {
    HomeNav,
  },
})

export default class Home extends Vue {
}
</script>
