<template>
  <div id="app" :data-theme="theme">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<style lang="sass">
#app
  font-family: Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
</style>

<script lang='ts'>
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import { mapState } from 'vuex'

const defaultLayout = 'default'

export default class App extends Vue {
  private theme = this.$store.state.view.theme

  get layout(): string {
    return `${this.$route.meta.layout || defaultLayout}-layout`
  }
}
</script>
