<template>
    <div>
        <main>
            <slot/>
        </main>
    </div>
</template>

<style lang="sass" scoped>

</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'


@Component
export default class Default extends Vue {
}
</script>
