<template>
  <div class="fixed z-50 top-0 left-0 w-full h-full flex justify-center items-center"
    style="background: rgba(0,0,0,.8);">
    <div class="select-none w-64 sys-bg-5 rounded-lg">
      <div class="font-semibold sys-text-1 text-center p-8">{{ text }}</div>
      <div class="cursor-pointer border-t border-gray-500 text-center sys-text-primary
        font-bold py-2"
        @click="$emit('ok')">
        Ok
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component({
})

export default class AlertModal extends Vue {
  @Prop() text!: string

  @Prop() id!: string
}
</script>
