<template>
  <div class="fixed z-50 top-0 left-0 w-full h-full flex justify-center items-center"
    style="background: rgba(0,0,0,.8);">
    <div class="select-none sys-bg-5 rounded-lg">
      <div class="font-semibold p-8">{{ text }}</div>
      <div class="flex border-t border-gray-500">
        <div class="cursor-pointer w-1/2 sys-text-primary text-center border-r border-gray-500
          py-2"
          @click="$emit('cancel')">Huỷ</div>
        <div class="cursor-pointer w-1/2 sys-text-primary text-center font-bold py-2"
          @click="$emit('confirm', id)">
          {{ confirmText }}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component({
})

export default class ConfirmationModal extends Vue {
  @Prop() text!: string

  @Prop() confirmText!: string

  @Prop() id!: string
}
</script>
