<template>
  <div class="fixed z-50 top-0 left-0 w-full h-full flex justify-center items-center"
    style="background: rgba(0,0,0,.6);">
    <div class="select-none sys-bg-6 rounded-lg p-8">
      <div class="font-semibold text-center text-xl mb-1">
        Bộ Lọc
      </div>
      <div class="sys-text-2 text-sm text-center mb-4">
        Tuỳ chỉnh kết quả theo ý thích của bạn.
      </div>
      <div class="mb-4">
        <div class="font-semibold mb-1">Danh mục</div>
        <select v-model="category" id="filter-category"
          class="w-full sys-bg-5 sys-text-1 rounded-lg p-2 mb-2">
          <option v-for="category in postCategories" :key="category.id" :value="category.id">
            {{ category.name }}
          </option>
        </select>
        <div class="font-semibold mb-1">Tỉnh Thành</div>
        <select v-model="province" id="filter-province"
          class="w-full sys-bg-5 sys-text-1 rounded-lg p-2 mb-2">
          <option v-for="province in provinces" :key="province.id" :value="province.id">
            {{ province.name }}
          </option>
        </select>
      </div>

      <div class="flex">
        <div class="cursor-pointer w-1/2 rounded-lg font-bold sys-bg-primary text-white text-center
          text-sm py-2 mr-2"
          @click="onCommitFilter">
          Lọc
        </div>
        <div class="cursor-pointer w-1/2 rounded-lg font-bold sys-bg-5 text-white text-center
          text-sm py-2 ml-2"
          @click="$emit('close')">
          Huỷ
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

import PostCategoriesAPI from '@/api/postCategory'
import ProvincesAPI from '@/api/province'

@Component
export default class FilterModal extends Vue {
  private category = ''

  private province = ''

  private postCategories: Array<any> = []

  private provinces: Array<any> = []

  created() {
    PostCategoriesAPI.filter()
      .then((response) => {
        this.postCategories = response.data
      })
      .catch((error) => {
        console.log(error)
      })

    ProvincesAPI.filter('')
      .then((response: any) => {
        this.provinces = response.data
      })
      .catch((error: any) => {
        console.log(error)
      })
  }

  public onCommitFilter(): void {
    this.$emit('commit', this.category, this.province)
  }
}
</script>
