<template>
  <div class="fixed z-50 top-0 left-0 w-full h-full flex justify-center items-center"
    style="background: rgba(0,0,0,.6);">
    <div class="select-none sys-bg-6 rounded-lg p-8">
      <div class="font-semibold text-center mb-1">
        Hãy trở thành một thành viên của TAKEIT để có trải nghiệm trọn vẹn
      </div>
      <div class="sys-text-2 text-sm text-center">
        Khám phá thêm nhiều tính năng mới và đăng tin của bạn.
      </div>
      <router-link class="block rounded-lg font-bold sys-bg-primary text-white text-center text-sm
        py-2 my-4"
        to="/user/login">
        Đăng Nhập
      </router-link>
      <div class="cursor-pointer underline sys-text-primary text-center text-sm"
        @click="$emit('close')">
        Tiếp tục sử dụng
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'

@Component
export default class RequireLoginModal extends Vue {
}
</script>
