<template>
  <div class="">
    <div class="font-bold text-2xl mb-4">Theo Thời Gian</div>
    <div class="relative w-auto inline-block mb-8">
      <div class="a select-none w-full flex font-semibold text-sm
        sys-text-1">
        <input class="hidden" id="state-0" type="radio" name="item-state">
        <label for="state-0" class="z-20 cursor-pointer px-4 py-2" data-state="0"
          @click="changeState">
          Tuần Này
        </label>
        <input class="hidden" id="state-all" type="radio" name="item-state">
        <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="1"
          @click="changeState">
          Tháng Này
        </label>
        <input class="hidden" id="state-all" type="radio" name="item-state">
        <label for="state-all" class="z-20 cursor-pointer px-4 py-2" data-state="2"
          @click="changeState">
          Năm Này
        </label>
        <div id="tab__slide-bg" class="absolute z-10 left-0 rounded-full sys-bg-4"></div>
      </div>
    </div>

    <div class="sys-bg-5 rounded-lg p-6 mb-8">
      <div>
        <div class="text-xl font-bold mb-4">Đồ Vật</div>
        <canvas id="itemsChart" height="400"></canvas>
      </div>
    </div>

    <div class="sys-bg-5 rounded-lg p-6 mb-8">
      <div>
        <div class="text-xl font-bold mb-4">Tin</div>
        <canvas id="postsChart" height="400"></canvas>
      </div>
    </div>

    <div class="sys-bg-5 rounded-lg p-6 mb-8">
      <div>
        <div class="text-xl font-bold mb-4">Giao Dịch</div>
        <canvas id="transactionsChart" height="400"></canvas>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import Chart from 'chart.js'
import AnalysticsAPI from '@/api/analystic'
import { AxiosResponse } from 'axios'

@Component({
})

export default class AdminAnalysis extends Vue {
  private currentState = 0

  private itemsChart: any

  private postsChart: any

  private transactionsChart: any

  mounted() {
    const firstOpRect = document.querySelector('label[data-state="0"]')!.getBoundingClientRect()
    const bg = document.getElementById('tab__slide-bg')!
    bg.style.width = `${firstOpRect.width}px`
    bg.style.height = `${firstOpRect.height}px`

    const daysInWeekArr = ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ Nhật']
    const itemsCtx = document.getElementById('itemsChart')
    this.itemsChart = new Chart(itemsCtx, {
      type: 'line',
      data: {
        labels: daysInWeekArr,
        datasets: [{
          label: 'Số lượng đồ vật',
          data: [12, 19, 3, 5, 2, 3, 0],
          backgroundColor: [
            'var(--text-color-1)',
          ],
        }],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }],
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    })

    const postsCtx = document.getElementById('postsChart')
    this.postsChart = new Chart(postsCtx, {
      type: 'line',
      data: {
        labels: daysInWeekArr,
        datasets: [{
          label: 'Số lượng tin',
          data: [12, 19, 3, 5, 2, 3, 0],
          backgroundColor: [
            'var(--text-color-1)',
          ],
        }],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }],
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    })

    const transactionsCtx = document.getElementById('transactionsChart')
    this.transactionsChart = new Chart(transactionsCtx, {
      type: 'line',
      data: {
        labels: daysInWeekArr,
        datasets: [{
          label: 'Số lượng giao dịch',
          data: [12, 19, 3, 5, 2, 3, 0],
          backgroundColor: [
            'var(--text-color-1)',
          ],
        }],
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
            },
          }],
        },
        responsive: true,
        maintainAspectRatio: false,
      },
    })
  }

  public changeState(event: any): void {
    const bg = document.getElementById('tab__slide-bg')!

    const firstOp = document.querySelector('label[data-state="0"]')
    const firstOpX = firstOp!.getBoundingClientRect().x

    const distance = event.target.getBoundingClientRect().x - firstOpX

    const targetWidth = event.target.getBoundingClientRect().width
    const targetHeight = event.target.getBoundingClientRect().height

    if (distance > 0) {
      bg.style.transform = `translateX(${distance}px)`
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    } else {
      bg.style.transform = 'translateX(0)'
      bg.style.width = `${targetWidth}px`
      bg.style.height = `${targetHeight}px`
    }

    this.currentState = parseInt(event.target.dataset.state, 10)

    const daysInWeekArr = ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'Chủ Nhật']
    const monthsInYearArr = ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12']
    const arr = (size: number, startAt: number) => [...Array(size).keys()]
      .map((i) => (i + startAt)
        .toString())
    const now = new Date()
    const daysInMonth = new Date(now.getFullYear(), now.getMonth() + 1, 0).getDate()

    // Week
    if (this.currentState === 0) {
      this.itemsChart.data.labels = daysInWeekArr
      this.postsChart.data.labels = daysInWeekArr
      this.transactionsChart.data.labels = daysInWeekArr

      this.itemsChart.data.datasets[0].data = Array.from({ length: 7 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))
      this.postsChart.data.datasets[0].data = Array.from({ length: 7 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))
      this.transactionsChart.data.datasets[0].data = Array.from({ length: 7 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))

      this.itemsChart.update()
      this.postsChart.update()
      this.transactionsChart.update()
    }

    // Month
    if (this.currentState === 1) {
      const daysInMonthArr = arr(daysInMonth, 1)

      this.itemsChart.data.labels = daysInMonthArr
      this.postsChart.data.labels = daysInMonthArr
      this.transactionsChart.data.labels = daysInMonthArr

      this.itemsChart.data.datasets[0].data = Array.from({ length: 31 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))
      this.postsChart.data.datasets[0].data = Array.from({ length: 31 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))
      this.transactionsChart.data.datasets[0].data = Array.from({ length: 31 }, () => Math.floor(
        (Math.random() * 100) + 1,
      ))

      this.itemsChart.update()
      this.postsChart.update()
      this.transactionsChart.update()

      return
    }

    // Year
    this.itemsChart.data.labels = monthsInYearArr
    this.postsChart.data.labels = monthsInYearArr
    this.transactionsChart.data.labels = monthsInYearArr

    this.itemsChart.data.datasets[0].data = Array.from({ length: 12 }, () => Math.floor(
      (Math.random() * 100) + 1,
    ))
    this.postsChart.data.datasets[0].data = Array.from({ length: 12 }, () => Math.floor(
      (Math.random() * 100) + 1,
    ))
    this.transactionsChart.data.datasets[0].data = Array.from({ length: 12 }, () => Math.floor(
      (Math.random() * 100) + 1,
    ))

    this.itemsChart.update()
    this.postsChart.update()
    this.transactionsChart.update()
  }
}
</script>
