<template>
  <div>
    <div class="font-bold text-2xl mb-4">Tổng Quan</div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mb-8">
      <div class="sys-bg-5 rounded-lg p-6">
        <div class="text-xl font-bold mb-4">Đồ Vật</div>
        <div class="text-sm">
          <div><span class="font-bold">Tổng số: </span>{{ data.item.all}}</div>
          <div><span class="font-bold">Sẵn sàng: </span>{{ data.item.pending }}</div>
          <div><span class="font-bold">Đang sử dụng: </span>{{ data.item.available }}</div>
          <div><span class="font-bold">Đã trao tặng: </span>{{ data.item.given }}</div>
        </div>
      </div>
      <div class="sys-bg-5 rounded-lg p-6">
        <div class="text-xl font-bold mb-4">Tin</div>
        <div class="text-sm">
          <div><span class="font-bold">Tổng số: </span>{{ data.post.all }}</div>
          <div><span class="font-bold">Đang chờ xét duyệt: </span>
            {{ data.post.pending }}
          </div>
          <div><span class="font-bold">Sẵn sàng: </span>{{ data.post.available }}</div>
          <div><span class="font-bold">Đang chờ giao dịch: </span>
            {{ data.post.pendingTransaction }}
          </div>
          <div><span class="font-bold">Đang giao dịch: </span>
            {{ data.post.inTransaction }}
          </div>
          <div><span class="font-bold">Bị khoá: </span>{{ data.post.locked }}</div>
          <div><span class="font-bold">Hoàn thành: </span>{{ data.post.complete }}</div>
        </div>
      </div>
      <div class="sys-bg-5 rounded-lg p-6">
        <div class="text-xl font-bold mb-4">Giao Dịch</div>
        <div class="text-sm">
          <div><span class="font-bold">Tổng số: </span>{{ data.transaction.all }}</div>
          <div><span class="font-bold">Đang chờ: </span>{{ data.transaction.pending }}</div>
          <div><span class="font-bold">Trong giao dịch: </span>
            {{ data.transaction.inTransaction }}
          </div>
          <div><span class="font-bold">Bị khoá: </span>{{ data.transaction.locked }}</div>
          <div><span class="font-bold">Chờ xác nhận: </span>
            {{ data.transaction.pendingComplete }}
          </div>
          <div><span class="font-bold">Hoàn thành: </span>
            {{ data.transaction.complete }}
          </div>
        </div>
      </div>
      <div class="sys-bg-5 rounded-lg p-6">
        <div class="text-xl font-bold mb-4">Người Dùng</div>
        <div class="text-sm">
          <div><span class="font-bold">Tổng số: </span>{{ data.user.all }}</div>
          <div><span class="font-bold">Đang chờ xét duyệt: </span>
            {{ data.user.pending }}
          </div>
          <div><span class="font-bold">Đang hoạt động: </span>{{ data.user.active }}</div>
          <div><span class="font-bold">Bị khoá: </span>{{ data.user.locked }}</div>
          <div><span class="font-bold">Tạm xoá: </span>{{ data.user.temporaryDeleted }}</div>
        </div>
      </div>
      <div class="sys-bg-5 rounded-lg p-6">
        <div class="text-xl font-bold mb-4">Phản Hồi</div>
        <div class="text-sm">
          <div><span class="font-bold">Tổng số: </span>{{ data.response.all }}</div>
          <div><span class="font-bold">Đang chờ: </span>{{ data.response.pending }}</div>
          <div><span class="font-bold">Không chấp nhận</span>
            {{ data.response.notAccepted }}
          </div>
          <div><span class="font-bold">Đã giải quyết: </span>
            {{ data.response.resolved }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
</style>

<script lang="ts">
import {
  Component, Prop, Vue, Emit,
} from 'vue-property-decorator'
import AnalysticsAPI from '@/api/analystic'

@Component({
})

export default class OverAll extends Vue {
  private data = {}

  created() {
    AnalysticsAPI.getOverAllData(this.$store.state.userInfo.token)
      .then((response: any) => {
        this.data = response.data
      })
  }
}
</script>
