:root
    --primary-color: rgb(0, 122, 255)
    --secondary-color: #536390
    --text-color-1: rgb(0, 0, 0)
    --text-color-2: rgb(176, 176, 179)
    --text-color-3: rgb(198, 198, 200)
    --text-color-4: rgb(222, 222, 223)
    --bg-color-1: rgb(142, 142, 147)
    --bg-color-2: rgb(174, 174, 178)
    --bg-color-3: rgb(199, 199, 204)
    --bg-color-4: rgb(209, 209, 214)
    --bg-color-5: rgb(229, 229, 234)
    --bg-color-6: rgb(242, 242, 247)
    --heading-color: #292922
    --heading-hover-color: #ecc94b

[data-theme="dark"]
    --primary-color: rgb(0, 132, 255)
    --secondary-color: #818cab
    --text-color-1: rgb(255, 255, 255)
    --text-color-2: rgb(176, 176, 179)
    --text-color-3: rgb(198, 198, 200)
    --text-color-4: rgb(222, 222, 223)
    --bg-color-1: rgb(142, 142, 147)
    --bg-color-2: rgb(99, 99, 102)
    --bg-color-3: rgb(72, 72, 74)
    --bg-color-4: rgb(58, 60, 60)
    --bg-color-5: rgb(44, 44, 46)
    --bg-color-6: rgb(28, 28, 30)
    --heading-color: #818cab
    --heading-hover-color: #ecc94b

.w-max-content
    width: max-content

.main
    background-color: var(--bg-color-6)
    color: var(--text-color-1)
    min-height: 100vh

.nav
    background-color: var(--bg-color-4)
    color: var(--text-color-1)

@variants hover
    .sys-text-primary
        color: var(--primary-color)

    .sys-text-secondary
        color: var(--secondary-color)

    .sys-text-1
        color: var(--text-color-1)

    .sys-text-2
        color: var(--text-color-2)

    .sys-text-3
        color: var(--text-color-3)

    .sys-text-4
        color: var(--text-color-4)

    .sys-bg-primary
        background: var(--primary-color)

    .sys-bg-secondary
        background: var(--secondary-color)

    .sys-bg-1
        background: var(--bg-color-1)

    .sys-bg-2
        background: var(--bg-color-2)

    .sys-bg-3
        background: var(--bg-color-3)

    .sys-bg-4
        background: var(--bg-color-4)

    .sys-bg-5
        background: var(--bg-color-5)

    .sys-bg-6
        background: var(--bg-color-6)

/* Tabs */
#tab__slide-bg
    transition: transform .3s linear